.container {
  max-width: 1100px;
  margin: 0 auto;
}

.review_main {
  width: 100%;
  padding: 8rem 7%;
  padding-bottom: 3rem;
  /* border: 2px solid green; */
  height: auto;
}




.sec1 h5 {
  color: #4169E3;
}

.sec1 h1 {
  color: #363636;
}

.sec1 p {
  color: #475467;
  margin: 0px auto;

}

.big {
  display: none;
}



@media only screen and (max-width: 1300px) {

  .big {
    display: none;
  }

  .smal {
    display: block;
    width: 80% !important;

  }

}

@media only screen and (max-width: 1170px) {

  .big {
    display: none;
  }

  .smal {
    display: block;
    width: 100% !important;
    padding-bottom: 20px;
  }
}


@media only screen and (max-width: 750px) {
  .sec1 h1 {
    font-size: 2.5rem;
  }

  .sec1 p {
    font-size: 1.2rem;
  }

  .review_main {
    padding: 50px 1% 20px;
  }



}


@media only screen and (max-width: 490px) {
  .sec1 h1 {
    font-size: 25px;
    text-transform: capitalize;
  }

  .sec1 h5 {
    font-size: 18px;
  }

  .sec1 p {
    font-size: 1.2rem;

  }


}

@media only screen and (max-width: 340px) {
  .sec1 h1 {
    font-size: 2rem;
  }

  .sec1 p {
    font-size: 1rem;

  }


}